* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#TeamDescriptions {
	display: flex;
	flex-direction: row;
}

#teamTitle,
#ProductDescription {
	padding: 0 3%;
}

.break {
	/* background-color: black; */
	height: 5px;
	width: 94%;
	margin: auto;
}

li {
	list-style: none;
	padding: 0 3% 0 0;
	width: 30vw;
}

a {
	text-decoration-line: none;
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: red;
}
