* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#TeamDescriptions {
	display: flex;
	flex-direction: row;
	color: white;
}

#teamTitle,
#ProjectDescription {
	padding: 0 3%;
	color: white;
}

#teamTitle {
	margin: 30px 0 20px 0;
}

#ProjectDescription {
	margin: 30px 0;
}

#ProjectDescription p {
	margin: 20px 0 30px 0;
}

.teammate-name {
	margin: 20px 0;
}

.teammates {
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile {
	border-radius: 50%;
	height: 200px;
	width: 200px;
	margin-bottom: 20px;
}

.bio {
	text-align: left;
}

.icon {
	color: red;
}

.break {
	/* background-color: black; */
	height: 5px;
	width: 94%;
	margin: auto;
}

li {
	list-style: none;
	padding: 0 3% 0 0;
	width: 30vw;
}

a {
	text-decoration-line: none;
	color: white;
	cursor: pointer;
}

a:visited {
	color: white;
}

a:hover {
	color: red;
}

.gitLogo {
	margin: 20px 0;
	border: 1px solid red;
	border-radius: 50%;
}
