* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.videos-container {
	width: 100vw;
	height: 100vh;
}

.search-bar {
	background-color: #020001;
	height: 40px;
}

.search-input {
	height: 30px;
	width: 400px;
	border-radius: 4px;
	padding-left: 5px;
}

.search-bar button {
	height: 30px;
	width: 80px;
	border-radius: 4px;
}

.search-bar button:hover {
	background-color: #eb3223;
	color: white;
	font-weight: bold;
}

.video-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(auto, 1fr);
	gap: 20px;
	margin-top: 50px;
	width: 100vw;
}

.video-list a {
	width: 100%;
}

.single-video {
	width: 320px;
}

.single-video li h4 {
	width: 100%;
}

.no-video {
	margin-top: 30px;
	padding-top: 10px;
	background-color: white;
	height: 40px;
	border-bottom: 1px solid red;
}

.max-input {
	margin: 0 10px;
	padding: 5px;
	height: 30px;
	width: 50px;
	border-radius: 4px;
	margin-bottom: 10px;
}

.welcome {
	margin-top: 100px;
	color: white;
	font-size: 72px;
}