* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	background-color: #181818;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	width: 100vw;
	height: 100vh;
}

.video-container,
.about-container {
	grid-row: 2/13;
	grid-column: 1/13;
}

.home-container {
	grid-row: 2/13;
	grid-column: 1/13;
	width: 100vw;
	height: 100vh;
}

/* .VideoList {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-left: 25px;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

.VideoLi {
	display: inline;
	list-style-type: none;
	margin-right: 15px;
	cursor: pointer;
	background-color: rgb(240, 60, 60);
}

.VideoLi h4 {
	display: inline-block;
}

.Item {
	display: inline-flex;
	flex-direction: column;
	height: 250px;
}

.Title {
	background-color: chartreuse;
	height: 100px;
} */
