.App {
	text-align: center;
}

/* Global */
a {
	text-decoration: none;
}

/* NAVBAR */
nav {
	background-color: #68db6e;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 15vh;
}

nav a {
	font-size: 1.5rem;
}

/* INDEX -- Table */
table {
	width: 50%;
	margin: auto;
	border: 1px solid #000000;
}

td {
	text-align: center;
}

tbody td:not(td:first-of-type):hover {
	transform: scale(1.05);
	opacity: 0.9;
}

tbody tr:nth-child(even) {
	background: #8bbd8d;
	height: 30px;
}

thead {
	background-color: #000;
	color: #fff;
	font-size: 1.3rem;
}
